.btn-red{
    border-radius: 6px;
    background-color: $primary;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 14px 31px;
    &:hover{
        background-color: $dark-text;
        color: $primary;
    }

}

.btn-bordered{
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 12.5px 40px;
    i{
        font-size: 15px;
    }
    &:hover{
        border-color: $dark-text;
        background-color: $dark-text;
        color: $primary;
    }
}

.btn-black{
    background-color: $dark-text;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    padding: 19px 35px;
    border-radius: 5px;
    &:hover{
        background-color: $primary;
        color: $dark-text;
    }
}