.feature-images{
position: relative;
z-index: 1;
.shape{
    position: absolute;
    z-index: -1;
    &:nth-child(1){
        bottom: 30px;
        right: 20px;
    }
    &:nth-child(2){
        top: -10px;
        left: 0px;
    }
}
}

.feature-title{
    @include heading-2;
    margin-bottom: 10px;
}
.feature-list{
    display: flex;
    flex-wrap: wrap;
    li{
        width: 45%;
        color: $dark-text;
        i{
            color: #37bd8a;
            margin-right: 10px;
            font-size: 15px;
        }
    }
}