.feature-images{
position: relative;
z-index: 1;
.shape{
    position: absolute;
    z-index: -1;
    &:nth-child(1){
        bottom: 30px;
        right: 20px;
    }
    &:nth-child(2){
        top: -10px;
        left: 0px;
    }
}
}

.feature-title{
    @include heading-2;
    margin-bottom: 10px;
}
.feature-list{
    display: flex;
    flex-wrap: wrap;
    li{
        width: 45%;
        color: $dark-text;
        i{
            color: #37bd8a;
            margin-right: 10px;
            font-size: 15px;
        }
    }
}

.features-area-2{
    overflow: hidden;
    .features-right{
        position: relative;
        z-index: 2;
        width: 67%;
        margin: 0 auto;
        .shape{
            position: absolute;
            z-index: -1;
            &:nth-child(1){
                top: 0;
                left: 0;
            }
            &:nth-child(1){
                top: 0;
                left: 0;
            }
        }
        img{
            position: absolute;
            z-index: 1;
        }
        .img-1{
            left: 0;
        }
        .img-2{
            right: -20px;
            top: 40px;
        }
    }
    .features-title{
        @include heading-2
    }
    .features-item{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        .item-img{
            width: 10%;
        }
        .item-content{
            width: 80%;
            .item-title{
                @include heading-4;
                margin-bottom: 10px;
            }
            .item-text{
                span{
                    color: $primary;
                }
            }
        }
    }
}