

.header-area{
    position: relative;
    z-index: 9999;
}

.navbar{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    
}

.menu{
    .nav-item{
        padding: 45px 0;
        .nav-link{
            color: $dark-text;
            font-weight: 500;
            padding: 0;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                background-color: $primary;
                height: 1px;
                width: 0%;
                transition: width 0.2s linear;
                transition-duration: 0.2s;
                transition-timing-function: linear;
                transition-delay: 0s;
                transition-property: width
            }

            &.dropdown-toggle{
                &::after{
                    display: none;
                }
            }

            &:hover::before{
                width: 100%;
            }
            
            &:hover,
            &.active{
                color: $primary;
            }
            i{
                position: absolute;
                top: 7px;
                right: -15px;
                font-size: 10px;
            }

        }

        
        & + .nav-item{
            margin-left: 30px;
        }
    }
}

.dropdown:hover{
    .dropdown-menu {
        display: block;
        padding-left: 10px;
        margin-top: 0; /* remove the gap so it doesn't close */
    }
} 

.right-nav {
    display: flex;
    align-items: center;
    margin-left: 45px;
    a{
        color: $dark-text;
        span{
            color:#a0a1a3;
            padding-right: 30px;
        }
    }
}