

.header-area{
    position: relative;
    z-index: 9999;
}

.navbar{
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    
}

.menu{
    .nav-item{
        padding: 45px 0;
        .nav-link{
            color: $dark-text;
            font-weight: 500;
            padding: 0;
            &:hover,
            &.active{
                color: $primary;
            }
        }
        & + .nav-item{
            margin-left: 30px;
        }
    }
}

.right-nav {
    display: flex;
    align-items: center;
    margin-left: 45px;
    a{
        color: $dark-text;
        span{
            color:#a0a1a3;
            padding-right: 30px;
        }
    }
}