// Font Family
$poppins:'Poppins', sans-serif;
$inter:'Inter', sans-serif;
// color
$dark-text: #171717 !default;
$place-deep: #a0a1a3 !default;
$primary: #EC595A !default;
$white: #ffffff !default;
$gold: #EFBA34 !default;

$black-900: #0C0D0E !default;
$black-800: #242729 !default;
$black-750: #2f3337 !default;
$black-700: #3C4146 !default;
$black-600: #535A60 !default;
$black-550: #5D5D66 !default;
$black-500: #6A737C !default;
$black-400: #7D848D !default;
$black-350: #848D95 !default;
$black-300: #9199A1 !default;
$black-200: #BBC0C4 !default;
$black-100: #C8CCD0 !default;

